section.about#about
  .wrapper
    picture.about__img
      img(src="images/dest/about.webp" alt="luxury apartments")
    .about__row
      h2.about__title About Company
      p.about__descr The founders of our company are professional investors with many years of expertise. They’ve been using the services of different real estate agencies for many years, so they've studied the real estate market of Dubai, Gulf states, the USA, Brasil, Uruguay, Argentine, the UK, Russia, and the CIS countries. It’s let them form their own methodology and vision — and bring their ideas to life.
      p.about__descr Our mission is to provide our customers with A-level service, ultimate comfort, and security while adressing their every need as well as to guarantee the result that exceeds the expectations of our clients.
        span.about__descr More than 10 years of experience our founders and partners have made it possible to solve any task you’ve got in real estate of Dubai and Gulf states.
    .about__row
      p.about__promo We offer free consultations on ways to get a residence permit in Dubai, on ways to open a bank account, corporate bodies’ registration, and other business-related topics.
    .about__row
      p.about__descr TopLevel stands out providing free consultations on ways to get a residence permit and other business related questions. We are partners of many developers in Dubai which brings exclusive terms of cooperation to our clients.
      picture.about__img
        img(src="images/dest/about-promo.webp" alt="Townhouses from a famous designer")
