section.banner#banner
  .banner__slider
    .banner__slide
    .banner__slide
    .banner__slide
  .wrapper
    h1.banner__title 
      span The Whole Range Of Real Estate in Dubai:
      |Square Feet For 
      br 
      |New Life
    a.banner__btn(href="#form") Free consultation
