section.benefits#benefits
  .wrapper
    h2.benefits__title BENEFITS
    .benefits__items
      .benefits__item.active
        .benefits__item-bg
        span.benefits__nmbr 01
        p.benefits__item-title Consulting
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Thorough examination of the acquired property;
            li.benefits__list-item Expert support on all stages of the transaction;
            li.benefits__list-item Answers to questions related to any kind of real estate in Dubai;
            li.benefits__list-item Case-by-case approach and quick response.
          picture.benefits__img
            img(src="images/dest/benefits-1.webp" alt="Consulting")
      .benefits__item 
        .benefits__item-bg
        span.benefits__nmbr 02
        p.benefits__item-title Search, Selection, Purchase
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Market Analysis;
            li.benefits__list-item Assistance in selection of proper options;
            li.benefits__list-item Scheduling the site inspections;
            li.benefits__list-item Estimation of property characteristics;
            li.benefits__list-item Comparison of conditions offered by different developers;
            li.benefits__list-item Assistance in negotiations;
            li.benefits__list-item Providing customers with the result that fully addreses their needs.
          picture.benefits__img
            img(src="images/dest/benefits-2.webp" alt="Keys")
      .benefits__item 
        .benefits__item-bg
        span.benefits__nmbr 03
        p.benefits__item-title Post-Purchase Service
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Help with the utility connection;
            li.benefits__list-item Relocation support;
            li.benefits__list-item Solving questions related to the operation of the property;
            li.benefits__list-item Property management: finding tenants, repair works, utility bills, etc.
          picture.benefits__img
            img(src="images/dest/benefits-3.webp" alt="Success")
      .benefits__item
        .benefits__item-bg
        span.benefits__nmbr 04
        p.benefits__item-title Residence permit
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Property registration (when purchasing, coming into inheritance, etc);
            li.benefits__list-item Assistance with opening a bank account;
            li.benefits__list-item Online support;
            li.benefits__list-item Help with business launches.
          picture.benefits__img
            img(src="images/dest/benefits-4.webp" alt="Life in Dubai")
