section.faq#faq
  .wrapper
    h2.faq__title FAQ
    .faq__items
      .faq__item
        .faq__item-bg
        .faq__q 
          a What are the stages of buying property in Dubai?
        .faq__a 
          p Buying property in Dubai takes place in several stages:
          ul.faq__list
            li.faq__list-item
              p selection of a suitable facility;
            li.faq__list-item
              p conclusion of the contract;
            li.faq__list-item
              p transfer of the deposit to a seller (5-25%);
            li.faq__list-item
              p home maintenance contract;
            li.faq__list-item
              p registration in the name of the new owner (this stage is usually the one when the final settlement is made);
            li.faq__list-item
              p getting ownership.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Is buying property in Dubai a ground for getting UAE citizenship?
        .faq__a 
          p No, but in case the amount of transaction exceeds USD 240,000 the investor may get the UAE residence visa. It brings certain privileges to the buyer of residential, commercial or some other application such as:
          ul
            li
              p the right to open a bank account;
            li
              p the right to get the driver’s license;
            li
              p the right to do business or be employed etc.
          p In case of installment purchase it’s possible to get residence visa or residence permit if the object is leased and the buyer has contributed at least 50% of total amount.
      .faq__item
        .faq__item-bg
        .faq__q 
          a What should a buyer do to secure their funds during the transaction?
        .faq__a 
          p In general, when buying property in Dubai, the investors use the most secure way of payment — the wire transfer into the escrow account which means the developer receives the payment after the object is leased. A competent intermediary makes it way easier for both sides performing a number of important functions including the legal support of the transaction.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Can a foreigner make an installment purchase?
        .faq__a 
          p Many developers provide customers with this option. The first installment is usually 10% and about 50% are payed before the construction is finished.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Can I get a mortgage in Dubai?
        .faq__a
          p Yes, you can as this option is available both for the residents and for the non-residents. The main requirements are age 21-65, a good credit score, and an appropriate level of income, sufficient to carry out the payments on time. Moreover, the same object can be purchased in installments and in a mortgage simultaneously.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Do I have to use the services of real estate agents? Can I conduct a transaction with a developer on my own?
        .faq__a
          p Real estate agents accompany every transaction of sale and purchase of premises in Dubai. This guarantees the safety of transactions, the protection of interests of the investor, and the compliance with the laws of the country.
