section.projects#projects
  .projects__bg
  .wrapper
    .projects__banner
      h2.projects__title Projects
      a.projects__btn(href="#form") Free consultation
    .projects__items
      h2.projects__items-title HOT DEALS
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-1.webp" alt="Palm Beach Tower apparts")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price from 2 000 000 AED
        .project__content
          p.project__title Palm Beach Tower 
          p.project__subtitle Palm Jumeirah
          p.project__descr Palm Beach Tower - offers sun-drenched spaces, exceptional cuisines
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 5
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/palm-beach.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-2.webp" alt="HILLCREST villa look")
        .project__promo
          p.project__promo-descr(data-type="villa") villa
          p.project__promo-price from 21 680 000 AED
        .project__content
          p.project__title ADDRESS VILLAS – HILLCREST
          p.project__subtitle Hadaeq Sheikh Mohammed Bin Rashid
          p.project__descr ADDRESS VILLAS – HILLCREST - is a new residential complex of villas located in Dubai Hills Estate.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 5
          button.project__btn(type="button") more
        include project-popup/hillcrest.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-3.webp" alt="Burj Binghatti Jacob & Co Residences Best")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price from 10 000 000 AED
        .project__content
          p.project__title Burj Binghatti Jacob & Co Residences
          p.project__subtitle SHEIKH ZAYED ROAD
          p.project__descr Luxurious modern lifestyle in the metropolis
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/burj-binghatti.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-1.webp" alt="ONE CANAL PENTHOUSE AND SKY VILLAS")
        .project__promo
          p.project__promo-descr(data-type="flat") penthouse
          p.project__promo-price from 18 000 000 AED
        .project__content
          p.project__title ONE CANAL PENTHOUSE AND SKY VILLAS
          p.project__subtitle Al Safa 1
          p.project__descr A selection of luxury apartments at your service
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/one-canal.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-3.webp" alt="Mudon Al Ranim")
        .project__promo
          p.project__promo-descr(data-type="townhouse") townhouse
          p.project__promo-price from 5 160 000 
        .project__content
          p.project__title МУДОН АЛЬ РАНИМ
          p.project__subtitle Dubailand
          p.project__descr Mudon Al Ranim - is a collection of elegant townhouses in Dubai.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-2.webp" alt="La Violeta 2")
        .project__promo
          p.project__promo-descr(data-type="townhouse") townhouse
          p.project__promo-price from 1 700 000 AED
        .project__content
          p.project__title La Violeta 2
          p.project__subtitle Dubailand
          p.project__descr La Violeta 2 – a cluster of residential residences in one of the greenest oases in Dubai
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/la-violeta.pug
