//- .project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title ADDRESS VILLAS – HILLCREST
      p.popup__descr ADDRESS VILLAS – HILLCREST - это новый жилой комплекс вилл, расположенный в Dubai Hills Estate. Жители смогут отдохнуть вдали от шума и суеты мегаполиса, а также смогут легко добраться до ключевых районов эмирата. Проект разработан Emaar Properties, которая является одной из ведущих девелоперских компаний Эмирата, известной такими проектами, как Creek Edge, Vida Residences Dubai Marina, Burj Crown и многими другими.
      p.popup__descr Общее количество домов в Address Hills составляет 51, и будущие жители могут выбрать из вилл с 5 спальнями, спроектированных в двух типах, называемых классическими виллами и современными виллами. Площади участков резиденций варьируются от 6 983 кв. футов до 10 805 кв. футов. Каждый блок спроектирован с учетом роскоши и спокойствия, а также с учетом наличия лифта, чтобы обеспечить жильцам максимальный комфорт. С просторных балконов и окон от пола до потолка открывается захватывающий вид на Бурдж-Халифу и знаменитый горизонт Дубая.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Зона для занятия йогой 
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Тренажерный зал
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Детская площадка 
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Бассейн для взрослых и детей
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Зоны для пикника у озера
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Открытые зеленые зоны
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Золотая виза на 10 лет
      .popup__map
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aee645fdc801e68e9f8a9095ce1bd59b02ec2f4351a03553e363507d514e8bed6&width=100%25&height=240&lang=ru_RU&scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-1.webp" alt="ADDRESS VILLAS – HILLCREST слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-2.webp" alt="ADDRESS VILLAS – HILLCREST слайд-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-3.webp" alt="ADDRESS VILLAS – HILLCREST слайд-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-4.webp" alt="ADDRESS VILLAS – HILLCREST слайд-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-5.webp" alt="ADDRESS VILLAS – HILLCREST слайд-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-6.webp" alt="ADDRESS VILLAS – HILLCREST слайд-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-7.webp" alt="ADDRESS VILLAS – HILLCREST слайд-7")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-8.webp" alt="ADDRESS VILLAS – HILLCREST слайд-8")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-9.webp" alt="ADDRESS VILLAS – HILLCREST слайд-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-10.webp" alt="ADDRESS VILLAS – HILLCREST слайд-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-11.webp" alt="ADDRESS VILLAS – HILLCREST слайд-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-12.webp" alt="ADDRESS VILLAS – HILLCREST слайд-12")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-13.webp" alt="ADDRESS VILLAS – HILLCREST слайд-13")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-14.webp" alt="ADDRESS VILLAS – HILLCREST слайд-14")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") бесплатная консультация
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
