.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title La Violeta 2
      p.popup__descr La Violeta 2 – кластер жилых резиденций в одном из самых зеленых оазисов Дубая, поселке Villanova, который находится к юго-востоку от Dubailand. Сеть комьюнити, входящих в состав района Villanova, отличает единый средиземноморский стиль как в архитектуре, так и в ландшафтном дизайне. Виллы, таунхаусы и апартаменты в поселке Villanova относятся к сегменту доступного жилья. Виллы в La Violeta 2 представляют собой завершающий аккорд симфонии жилых комплексов La Violeta at Villanova.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr престижный район
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr близко к школе и садику
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr близко к пляжу
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr фитнес зал
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr спа центр
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr парки и развитая инфраструктура
      .popup__map
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A496aa5b6f2652561db13a0c6beb09bb524a002d96e2623eb238e088aef94b052&width=100%25&height=240&lang=ru_RU&scroll=true')
    .popup__promo
      .popup__promo-slider
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-4.webp" alt="La Violeta 2 слайд-4")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-5.webp" alt="La Violeta 2 слайд-5")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-6.webp" alt="La Violeta 2 слайд-6")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-7.webp" alt="La Violeta 2 слайд-7")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-8.webp" alt="La Violeta 2 слайд-8")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-9.webp" alt="La Violeta 2 слайд-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-10.webp" alt="La Violeta 2 слайд-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-11.webp" alt="La Violeta 2 слайд-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-12.webp" alt="La Violeta 2 слайд-12")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-13.webp" alt="La Violeta 2 слайд-13")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-14.webp" alt="La Violeta 2 слайд-14")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-15.webp" alt="La Violeta 2 слайд-15")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") бесплатная консультация
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
