.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title ONE CANAL PENTHOUSE AND SKY VILLAS
      p.popup__descr Новая престижная недвижимость в Дубае, предназначенная для избранных. Состоит из 24 эксклюзивных пентхаусов, Sky Villas и Sky Mansion, переосмысливающих удобства, мастерство и несравнимый стиль жизни.
      p.popup__descr Являясь идеальным сочетанием уединения и спокойствия, резиденция предлагает захватывающий вид на Дубайский канал, Бурдж-Халифу, парк Сафа и Бурдж-АЛЬ-Араб. Канал, примыкающий к парку Сафа в самом центре города.
      //- .popup__benefits
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      .popup__map
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A496aa5b6f2652561db13a0c6beb09bb524a002d96e2623eb238e088aef94b052&width=100%25&height=240&lang=ru_RU&scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/one-canal/slide-1.webp" alt="One Canal слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/one-canal/slide-2.webp" alt="One Canal слайд-1")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") бесплатная консультация
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
