footer.footer#footer
  .wrapper
    p.footer__copyright 2022 All right reserved.
    nav.footer__menu
      ul.footer__items
        li.footer__item
          a(href="#") Privacy Policy
        li.footer__item
          a(href="#") Terms of Service
        li.footer__item
          a(href="#") Cookies Settings
