.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title ADDRESS VILLAS – HILLCREST
      p.popup__descr ADDRESS VILLAS – HILLCREST is a new villa complex situated in Dubai Hills Estate. Residents will be able to take some rest from the noise and bustle of the megapolis while having an opportunity to easily reach any keyspots of the emirate. The project was designed by the Emaar Properties, one of the emirate’s leading developers that is famous for such projects as Creek Edge, Vida Residences Dubai Marina, Burj Crown, and many others.
      p.popup__descr The total number of houses in Address Hills is 51. The future residents will be able to choose from 5-Bedroom villas designed in two types: the classic villas and the modern ones. The plots vary from 6,083 square feet to 10,805 square feet. Each block was designed taking luxury and calmness into account and equipped with an elevator to provide residents with maximum comfort. A breathtaking view on the Burj Khalifa and the famous horizon of Dubai opens from spacious balconies and panoramic windows.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Yoga spot 
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Gym
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Children’s playground 
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Swimming pools for kids and grown-ups
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Picnic area by the lake
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Open green areas
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Golden Visa for 10 years
      .popup__map
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aee645fdc801e68e9f8a9095ce1bd59b02ec2f4351a03553e363507d514e8bed6&width=100%25&height=240&lang=ru_RU&scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-1.webp" alt="ADDRESS VILLAS – HILLCREST slide-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-2.webp" alt="ADDRESS VILLAS – HILLCREST slide-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-3.webp" alt="ADDRESS VILLAS – HILLCREST slide-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-4.webp" alt="ADDRESS VILLAS – HILLCREST slide-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-5.webp" alt="ADDRESS VILLAS – HILLCREST slide-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-6.webp" alt="ADDRESS VILLAS – HILLCREST slide-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-7.webp" alt="ADDRESS VILLAS – HILLCREST slide-7")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-8.webp" alt="ADDRESS VILLAS – HILLCREST slide-8")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-9.webp" alt="ADDRESS VILLAS – HILLCREST slide-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-10.webp" alt="ADDRESS VILLAS – HILLCREST slide-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-11.webp" alt="ADDRESS VILLAS – HILLCREST slide-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-12.webp" alt="ADDRESS VILLAS – HILLCREST slide-12")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-13.webp" alt="ADDRESS VILLAS – HILLCREST slide-13")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/hillcrest/slide-14.webp" alt="ADDRESS VILLAS – HILLCREST slide-14")
      p.popup__promo-title DON’T MISS YOUR CHANCE
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
