.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title La Violeta 2
      p.popup__descr La Violeta 2 is a cluster of accommodation residences in one of the greenest oases of Dubai, the Villanova village which is situated to the south-east of the Dubailand. The chain of communities being part of Villanova district are distinguished by the unique mediterranean style both in the architecture and in the landscape design. Villas, townhouses, and apartments of the Villanova village belong to the affordable housing segment. La Violeta 2 villas make the final accord to the symphony of La Violeta at Villanova residential estates.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr upmarket district
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr close to a school and a kindergarten
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr close to the beach
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr fitness center
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr spa
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr parks & extensive infrastructure
      .popup__map
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A496aa5b6f2652561db13a0c6beb09bb524a002d96e2623eb238e088aef94b052&width=100%25&height=240&lang=ru_RU&scroll=true')
    .popup__promo
      .popup__promo-slider
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-4.webp" alt="La Violeta 2 slide-4")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-5.webp" alt="La Violeta 2 slide-5")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-6.webp" alt="La Violeta 2 slide-6")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-7.webp" alt="La Violeta 2 slide-7")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-8.webp" alt="La Violeta 2 slide-8")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/la-violeta/slide-9.webp" alt="La Violeta 2 slide-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-10.webp" alt="La Violeta 2 slide-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-11.webp" alt="La Violeta 2 slide-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-12.webp" alt="La Violeta 2 slide-12")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-13.webp" alt="La Violeta 2 slide-13")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-14.webp" alt="La Violeta 2 slide-14")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/la-violeta/slide-15.webp" alt="La Violeta 2 slide-15")
      p.popup__promo-title DON’T MISS YOUR CHANCE
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
