.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title ONE CANAL PENTHOUSE AND SKY VILLAS
      p.popup__descr Here comes a brand-new upmarket real estate in Dubai designed for the chosen ones. It consists of 24 exclusive penthouses, Sky Villas and Sky Mansion reconceptualizing the facilities, the mastership, and the incomparable style of living.
      p.popup__descr Being a perfect combination of reclusiveness and quietness, the residence offers a breathtaking view on the Dubai Water Canal, Burj Khalifa, the Safa Park, and Burj Al Arab.
      //- .popup__benefits
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      //-   .popup__benefits-item
      //-     +icon("benefits-icon", "popup__benefits-icon")
      //-     p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      .popup__map
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A496aa5b6f2652561db13a0c6beb09bb524a002d96e2623eb238e088aef94b052&width=100%25&height=240&lang=ru_RU&scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/one-canal/slide-1.webp" alt="One Canal slide-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/one-canal/slide-2.webp" alt="One Canal slide-1")
      p.popup__promo-title DON’T MISS YOUR CHANCE
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
