.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title Palm Beach Tower
      p.popup__descr All the apartments of Palm Beach Towers, whether it’s a 1-, 2-, 3-, 4-Bedroom or a Penthouse, offer gorgeous, sun-drenched spaces and exclusive kitchens along with dreamy plumbing equipment and premises. This means each moment you spend at your place is just perfect, no matter if you have fun in your spacious living room or take a good rest submerged into the light and airy atmosphere of the dining room.
      p.popup__descr Palm Beach Towers are situated at the entrance to the Palm Jumeirah, right in the one of the most exciting, full of action city’s districts’ center. Enjoy the freedom of a sunny walk to some of the most famous restaurants or spend a perfect day shopping at your favorite luxurious brands’ outlets.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Yoga spot
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Gym
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Children’s playground
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Open air swimming pool with a view
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Spa
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Private beach
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Riverside park and the embankment
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr A boat pier
      .popup__map
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aee645fdc801e68e9f8a9095ce1bd59b02ec2f4351a03553e363507d514e8bed6&width=100%25&height=240&lang=ru_RU&scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/palm-beach/slide-1.webp" alt="Palm Beach Tower slide-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/palm-beach/slide-2.webp" alt="Palm Beach Tower slide-2")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/palm-beach/slide-3.webp" alt="Palm Beach Tower slide-3")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/palm-beach/slide-4.webp" alt="Palm Beach Tower slide-4")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/palm-beach/slide-5.webp" alt="Palm Beach Tower slide-5")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/palm-beach/slide-6.webp" alt="Palm Beach Tower slide-6")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/palm-beach/slide-7.webp" alt="Palm Beach Tower slide-7")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/palm-beach/slide-8.webp" alt="Palm Beach Tower slide-8")
        //- picture.popup__promo-slide
        //-   img(src="images/dest/project-popup/palm-beach/slide-9.webp" alt="Palm Beach Tower slide-9")
      p.popup__promo-title DON’T MISS YOUR CHANCE
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
