.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title Opal Gardens
      p.popup__descr Opal Gardens в Мохаммед Бин Рашид Сити (MBR City), район 11 — это новый жилой комплекс от Meydan, который предлагает стильные дизайнерские апартаменты к услугам гостей.
      p.popup__descr Жители смогут воспользоваться легкостью и удобством, предлагаемыми местоположением,которое находится в очень привлекательной части города и расположено в непосредственной близости от всех наиболее известных достопримечательностей города.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Выбор роскошных апартаментов к вашим услугам
      .popup__map
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/popup-promo-slide.webp" alt="-слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/banner-slide-3.webp" alt="-слайд-2")
      p.popup__promo-title DON’T MISS YOUR CHANCE
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
