section.about#about
  .wrapper
    picture.about__img
      img(src="images/dest/about.webp" alt="Роскошные апартаменты")
    .about__row
      h2.about__title о компании
      p.about__descr Учредители нашей компании являются профессиональными инвесторами с многолетним опытом — долгие годы они пользовались услугами различных риелторских организаций, благодаря чему изучили рынок недвижимости Дубая, стран персидского залива, США, Бразилии, Уругвая, Аргентины, Великобритании, России, стран СНГ. Это позволило сформулировать собственную методологию и видение — претворить свою идею в жизнь.
      p.about__descr Наша миссия — дать возможность ощутить каждому клиенту сервис уровня Люкс, обеспечить комфорт и безопасность при решении поставленных перед нами задач, а также гарантировать результат, который превзойдет ожидания наших клиентов. 
        span.about__descr Более 10 лет опыта учредителей и партнеров нашей компании — позволяет решить любую вашу задачу в сфере недвижимости Дубая и стран Персидского залива.
    .about__row
      p.about__promo Мы даем бесплатные консультации по способам получения резидентской визы Дубая, по методам открытия банковского счета, оформления юридических лиц и по другим интересующим бизнес вопросам
    .about__row
      p.about__descr Отличие компании «TopLevel» заключается в том, что мы даем бесплатные консультации по способам получения резидентской визы Дубая, по методам открытия банковского счета, оформления юридических лиц и по другим интересующим бизнес вопросам. Мы являемся партнерами многих застройщиков Дубая, что открывает перед нашими клиентами эксклюзивные условия сотрудничества
      picture.about__img
        img(src="images/dest/about-promo.webp" alt="Танхаусы от известного дизайнера")
