section.banner#banner
  .banner__slider
    .banner__slide
    .banner__slide
    .banner__slide
  .wrapper
    h1.banner__title 
      span Весь спектр недвижимости в Дубае:
      |квадратные метры 
      br 
      |для новой жизни
    a.banner__btn(href="#form") Бесплатная консультация
