section.benefits#benefits
  .wrapper
    h2.benefits__title Преимущества жизни в Дубае
    .benefits__items
      .benefits__item.active
        .benefits__item-bg
        span.benefits__nmbr 01
        p.benefits__item-title Консультирование
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Всестороннее исследование приобретаемых объектов
            li.benefits__list-item Экспертное сопровождение на всех этапах сделки
            li.benefits__list-item Ответы на вопросы о любых видах недвижимости в Дубае
            li.benefits__list-item Индивидуальный подход и быстрое реагирование
          picture.benefits__img
            img(src="images/dest/benefits-1.webp" alt="Консультирование")
      .benefits__item 
        .benefits__item-bg
        span.benefits__nmbr 02
        p.benefits__item-title Поиск, выбор, покупка
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Анализ рынка
            li.benefits__list-item Помощь в выборе подходящих опций
            li.benefits__list-item Планирование выездов на объекты
            li.benefits__list-item Оценка характеристик недвижимости
            li.benefits__list-item Сравнение условий, предоставляемых застройщиками
            li.benefits__list-item Доведение до результата, полностью учитывающего потребности заказчика
            li.benefits__list-item Помощь в переговорах между сторонами
          picture.benefits__img
            img(src="images/dest/benefits-2.webp" alt="Ключи")
      .benefits__item 
        .benefits__item-bg
        span.benefits__nmbr 03
        p.benefits__item-title Обслуживание после покупки
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Помощь при подключении коммуникаций
            li.benefits__list-item Поддержка в процессе релокации
            li.benefits__list-item Содействие в решении вопросов, связанных с эксплуатацией объекта
            li.benefits__list-item Управление недвижимостью: поиск арендаторов, ремонтные работы, оплата коммунальных платежей и т. д.
          picture.benefits__img
            img(src="images/dest/benefits-3.webp" alt="Успешная сделка")
      .benefits__item
        .benefits__item-bg
        span.benefits__nmbr 04
        p.benefits__item-title Получение вида на жительство в ОАЭ
        .benefits__content
          ul.benefits__list
            li.benefits__list-item Юридическое оформление недвижимости (при покупке, вступлении в наследство и т. д.)
            li.benefits__list-item Помощь при открытии расчетного счета
            li.benefits__list-item Сопровождение онлайн
            li.benefits__list-item Поддержка в запуске бизнес-проектов
          picture.benefits__img
            img(src="images/dest/benefits-4.webp" alt="Жизнь в Дубае")
