section.faq#faq
  .wrapper
    h2.faq__title Ответы на ваши впросы
    .faq__items
      .faq__item
        .faq__item-bg
        .faq__q 
          a Из чего состоит процесс покупки недвижимости в Дубае?
        .faq__a 
          p Покупка недвижимости осуществляется в несколько этапов:
          ul.faq__list
            li.faq__list-item
              p выбор подходящего объекта;
            li.faq__list-item
              p заключение договора купли-продажи;
            li.faq__list-item
              p передача продавцу задатка (от 5 до 25% от стоимости);
            li.faq__list-item
              p заключение контракта на обслуживание дома;
            li.faq__list-item
              p прохождение процедуры регистрации на имя нового собственника (на этом этапе, как правило, происходит окончательный расчет);
            li.faq__list-item
              p получение права собственности.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Является ли покупка помещения в Дубае основанием для получения гражданства ОАЭ?
        .faq__a 
          p Нет, но если сумма сделки превысила USD 240,000, покупатель недвижимости может получить резидентскую визу. Она дает покупателю жилого, коммерческого или иного объекта определенные привилегии:
          ul
            li
              p разрешение на открытие банковских счетов;
            li
              p возможность получить водительские права;
            li
              p право вести бизнес или работать по найму и т. д.
          p При покупке в рассрочку резидентскую визу/вид на жительство можно оформить, если объект сдан и покупателем внесено не менее 50% от общей суммы.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Как покупателю обезопасить свои средства в сделке купли-продажи?
        .faq__a 
          p Приобретая недвижимость в Дубае, инвесторы, как правило, используют самый безопасный метод расчета — банковский перевод на эскроу-счет, что означает получение застройщиком денег после сдачи объекта в эксплуатацию. Компетентный посредник сильно упрощает задачу для обеих сторон, выполняя ряд значимых функций, — в том числе юридическое сопровождение сделки.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Может ли иностранный покупатель оформить приобретение недвижимости в рассрочку?
        .faq__a 
          p Да, многие девелоперы предоставляют такую возможность. Обычно первый взнос равен 10% стоимости и примерно половина общей суммы выплачивается до завершения строительства.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Можно ли купить квартиру в Дубае в ипотеку?
        .faq__a
          p Эта опция доступна как резидентам, так и нерезидентам. Основные требование к заемщику: возраст от 21 до 65 лет, хороший кредитный рейтинг и соответствующий стоимости объекта уровень дохода — достаточный для погашения платежей в установленные сроки. Кроме того, на один и тот же объект могут быть оформлена и рассрочка, и ипотека.
      .faq__item
        .faq__item-bg
        .faq__q 
          a Обязательно ли пользоваться услугами риелторов или можно самостоятельно провести сделку с застройщиком?
        .faq__a
          p В Дубае агенты по недвижимости сопровождают все сделки, связанные с куплей-продажей помещений. Это гарантирует безопасность сделки, защиту интересов покупателя и соблюдение законов страны.
