section.projects#projects
  .projects__bg
  .wrapper
    .projects__banner
      h2.projects__title Проекты
      a.projects__btn(href="#form") Бесплатная консультация
    .projects__items
      h2.projects__items-title горячие предложения
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-1.webp" alt="Palm Beach Tower apparts")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 2 000 000 AED
        .project__content
          p.project__title Palm Beach Tower 
          p.project__subtitle Palm Jumeirah
          p.project__descr Palm Beach Tower - предлагает залитые солнцем пространства, исключительные кухни
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 5
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/palm-beach.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-2.webp" alt="HILLCREST villa look")
        .project__promo
          p.project__promo-descr(data-type="villa") вилла
          p.project__promo-price от 21 680 000 AED
        .project__content
          p.project__title ADDRESS VILLAS – HILLCREST
          p.project__subtitle Hadaeq Sheikh Mohammed Bin Rashid
          p.project__descr ADDRESS VILLAS – HILLCREST - это новый жилой комплекс вилл, расположенный в Dubai Hills Estate.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 5
          button.project__btn(type="button") Смотреть
        include project-popup/hillcrest.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-3.webp" alt="Burj Binghatti Jacob & Co Residences Best")
        .project__promo
          p.project__promo-descr(data-type="appart") аппартамены
          p.project__promo-price от 10 000 000 AED
        .project__content
          p.project__title Burj Binghatti Jacob & Co Residences
          p.project__subtitle SHEIKH ZAYED ROAD
          p.project__descr Роскошный современный образ жизни в мегаполисе
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/burj-binghatti.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-1.webp" alt="ONE CANAL PENTHOUSE AND SKY VILLAS")
        .project__promo
          p.project__promo-descr(data-type="flat") пентхаус
          p.project__promo-price от 18 000 000 AED
        .project__content
          p.project__title ONE CANAL PENTHOUSE AND SKY VILLAS
          p.project__subtitle Al Safa 1
          p.project__descr Выбор роскошных апартаментов к вашим услугам
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/one-canal.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-3.webp" alt="Mudon Al Ranim")
        .project__promo
          p.project__promo-descr(data-type="townhouse") таунхаус
          p.project__promo-price от 5 160 000 
        .project__content
          p.project__title Mudon Al Ranim
          p.project__subtitle Dubailand
          p.project__descr Mudon Al Ranim - это коллекция элегантных таунхаусов в Дубай.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-2.webp" alt="La Violeta 2")
        .project__promo
          p.project__promo-descr(data-type="townhouse") таунхаус
          p.project__promo-price от 1 700 000 AED
        .project__content
          p.project__title La Violeta 2
          p.project__subtitle Dubailand
          p.project__descr La Violeta 2 – кластер жилых резиденций в одном из самых зеленых оазисов Дубая
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/la-violeta.pug
