extends includes/layout

block content
  main.main
    include blocks/banner
    include blocks/quiz
    include blocks/benefits
    include blocks/projects
    include blocks/about
    include blocks/form
    include blocks/faq
    include blocks/popup-promo
    
    script(src="js/app.min.js")
