extends includes/layout-en

block content
  main.main
    include blocks/en/banner
    include blocks/en/quiz
    include blocks/en/benefits
    include blocks/en/projects
    include blocks/en/about
    include blocks/en/form
    include blocks/en/faq
    include blocks/en/popup-promo
    
    script(src="js/app.min.js")
